langchain==0.0.229
urllib3==1.26.16
pydevd_pycharm
pgvector
openai
unstructured
tabulate
pdf2image
tiktoken
transformers
psycopg2-binary
markupsafe==2.0.1
selenium
lxml
streamlit
libmagic
bs4
gradio
boto3